<!DOCTYPE html>
<html lang="uk">

<%- include('../blocks/head.ejs'); %>

<body class="bg-secondary text-light">

  <!-- Підключення шапки сайту -->
  <%- include('../blocks/header.ejs'); %>

  <!-- Підключення блоку керування -->
  <%- include('../blocks/control.ejs'); %>

  <!-- Додавання таблиці -->
  <%- include('../blocks/table_start.ejs'); %>
  <%- include('../blocks/table_head_planets.ejs'); %>
  <%- include('../blocks/table_end.ejs'); %>

  <!-- Підключення модальних вікон -->
  <%- include('../blocks/modal_confirm.ejs'); %>
  <%- include('../blocks/modal_add_planets.ejs'); %>

  <!-- Підключення скриптів -->
  <%- include('../blocks/scripts.ejs'); %>

</body>

</html>